<div class="panel-body">
  <div class="table-responsive table-bordered">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>User Name</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone No</th>
          <th>Date of Birth</th>
          <th>Role Name</th>
          <th>Department Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users;let i=index" (click)="onEdit(user.id)">
          <td>{{i+1}}</td>
          <td>{{user.uname}}</td>
          <td>{{user.fname}}</td>
          <td>{{user.lname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.dob | date}}</td>
          <td>{{user.role.roleName}}</td>
          <td>{{user.department.department}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- /.table-responsive -->
</div>
