<div class="panel-body">
  <div class="table-responsive table-bordered">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>

          <th>Faculty Name</th>
          <th>Department Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let faculty of faculties; let i=index" (click)="onEdit(i)">
          <td>{{i+1}}</td>

          <td>{{faculty.FacName}}</td>
          <td>{{faculty.department.DeptName}}</td>
          <td><a>Edit</a></td>

        </tr>
        <tr>


      </tbody>
    </table>
  </div>
  <!-- /.table-responsive -->
</div>
