

  <div class="text-right">
      <button class="btn btn-success m-y-20" data-toggle="modal"
      (click)="loadModel()"
      data-target="#createDepartment">Create Department</button>
  </div>
  <div class="row">
      <div class="col-lg-12">
              <!-- /.panel -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      Department
                  </div>
                  <!-- /.panel-heading -->
                 <app-paneldefault>
                   <app-department-table></app-department-table>
                 </app-paneldefault>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->

          <!-- /.panel -->
          <!-- Modal -->
          <router-outlet></router-outlet>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->


